<mat-toolbar>
  <button mat-button [routerLink]="['']">Guest Book</button>
  <span class="spacer"></span>
  <div class="action" >
    <ng-container *ngIf="!(authenticated$ | async); else profile">
      <button mat-button [routerLink]="['login']">Login</button>
      or
      <button mat-button [routerLink]="['register']">Create account</button>
    </ng-container>

  </div>
  <ng-template #profile>
    <div class="profile" *ngIf="user$ | async as user">
      {{user.name}}
    </div>

  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>
