<form class="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmitButtonClicked(form.value)">

<!--  <input-->
<!--    type="file"-->
<!--    [formControlName]="'avatar'"-->
<!--    accept=".jpeg,.bmp,.png" />-->

  <mat-form-field class="form-element">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControlName]="'email'"
           [errorStateMatcher]="matcher"
           placeholder="Example devs@example.com" #email>
    <mat-error *ngIf="emailCtrl?.hasError('email')
                      && !emailCtrl?.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailCtrl?.hasError('required')">
      Email is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-element">
    <mat-label>Name</mat-label>
    <input matInput [formControlName]="'name'"
           [errorStateMatcher]="matcher"
           placeholder="Example John" #name>
    <mat-error *ngIf="nameCtrl?.hasError('maxlength')
                      && !nameCtrl?.hasError('required')">
      Max length is {{ nameCtrl?.errors?.['maxlength']?.['requiredLength']}}
    </mat-error>
    <mat-error *ngIf="nameCtrl?.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-element">
    <mat-label>Password</mat-label>
    <input type="password" matInput [formControlName]="'password'"
           [errorStateMatcher]="matcher"
           placeholder="Example qwerty123" #pass>
    <mat-error *ngIf="passwordCtrl?.hasError('minlength')
                      && !passwordCtrl?.hasError('required')">
      Min length is {{ passwordCtrl?.errors?.['minlength']?.['requiredLength']}}
    </mat-error>
    <mat-error *ngIf="passwordCtrl?.hasError('maxlength')
                      && !passwordCtrl?.hasError('required')">
      Max length is {{ passwordCtrl?.errors?.['maxlength']?.['requiredLength']}}
    </mat-error>
    <mat-error *ngIf="passwordCtrl?.hasError('required')">
      Password is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-element">
    <mat-label>Confirm password</mat-label>
    <input type="password" matInput [formControlName]="'passwordConfirmation'"
           [errorStateMatcher]="matcher"
           #confirmPass>
    <mat-error *ngIf="confirmPasswordCtrl?.hasError('confirmPasswordValidator')
                      && !passwordCtrl?.hasError('required')">
      Passwords are not matched
    </mat-error>
    <mat-error *ngIf="confirmPasswordCtrl?.hasError('required')">
      Please confirm password
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="form.invalid">Register</button>
</form>
